/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Theme Variables */
:root {
  --mainTextColor: #212121;
  --mainThemeColor: #ffb02d;
  --secondaryTextColor: #7a5a26;
  --normalFont: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  --headerFont: 'Roboto Condensed', 'Helvetica', 'Arial', 'sans-serif';
}

/* Global */
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: var(--normalFont);
  font-size: 12pt;
  line-height: 1.5;
  color: var(--mainTextColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* Layout */
header {
  background-color: var(--mainThemeColor);
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(50vw - 56px);
  min-height: 374px;
  max-height: 568.775px;
}

header iframe {
  width: 90%;
  height: 100%;
  max-width: 1152px;
  padding: 0;
  margin: 0 auto;
  border: none;
}

.content {
  flex: 1;
  width: 75%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 6rem);
  overflow-x: auto;
}

.content div {
  margin-bottom: 4em;
}

/* Typography */
h1, h2 {
  font-family: var(--headerFont);
  font-weight: 600;
}

h1 {
  font-size: 34.0pt;
}

.noResults {
  color: var(--secondaryTextColor);
}

h2 {
  font-size: 18.0pt;
}

a, h2 {
  color: var(--secondaryTextColor);
}

ul {
  list-style-type: square;
  padding-left: 20px;
  padding-left: 1.25em;
  line-height: 2.0;
}

/* Button */
.button {
  font-size: 0.875em;
  display: inline-block;
  background-color: var(--secondaryTextColor);
  color: white;
  padding: 0.75em 4em;
  border-radius: 0.25em;
  text-decoration: none;
}

.button:hover {
  box-shadow:
  0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/* Media */
img {
  max-width: 100%;
  height: auto;
}

#interactiveMap {
  aspect-ratio: 2 / 1.25;
  width: 100%;
  height: auto;
  border: none;
}

/* Responsive */
@media only screen and (max-width: 768px) {

  #header iframe {
    width: 100%;
  }

  .content {
    width: calc(100% - 4em);
  }

  h1 {
    font-size: 30.0pt;
  }

  h2 {
    font-size: 17.0pt;
  }

  footer span {
    margin: 0 1rem;
  }

}

@media only screen and (max-width: 480px) {

  h1 {
    font-size: 25.0pt;
  }

  footer span {
    display: block;
  }

}
