body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.content {
  text-align: center;
  width: 100%;
}

#resultsContainer {
  margin: 0 auto;
  min-width: 40em;
  width: 85%;
  max-width: 75rem;
}

.content div.navBar {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  font-size: 1.125em;
}

label {
  padding-top: 0.35em;
}

label, select, input {
  height: 1.8em;
  white-space: nowrap;
}

.navBar span {
  white-space: nowrap;
}

.search {
  flex-grow: 1;
  text-align: right;
}

#searchInput {
  line-height: 1;
  width: 85%;
  max-width: 20em;
  font-size: 0.8em;
  background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url(../assets/searchIcon.svg);
  background-position: 2px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

#searchInput::placeholder {
  color: #333;
}

select {
  margin-right: 0.5em;
  width: 6.5em;
}

select, input {
  border-radius: 0.25em;
  border: 1px solid rgba(20, 20, 20, 0.5);
}

table {
  margin-top: 0.75em;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 0.35em 0.75em;
  width: 3em;
  text-align: center;
}

th {
  padding: 0.5em 1em;
  font-size: 1.125em;
  border-bottom: 0.15em solid black;
}

td {
  min-width: max-content;
  white-space: nowrap;
}

.nameHeader {
  width: 40%;
}

.nameCell {
  padding-left: 0.75em;
  text-align: left;
}

@media (max-width: 64rem) {

  #resultsContainer {
    min-width: -webkit-fill-available;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  
}

@media (max-width: 48rem) {

  #resultsContainer {
    font-size: 0.9rem;
  }

  .navBar {
    font-size: 1em;
  }

}

@media (max-width: 40rem) {

  select {
    width: 7em;
  }

  #resultsContainer {
    width: 35rem;
    font-size: 0.7rem;
  }

}

@media (max-width: 32rem) {

  .nameHeader {
    width: 25%;
  }

  #resultsContainer {
    width: 32rem;
    font-size: 0.6rem;
  }

}
